footer{
    color: #cfcbcb;
}
body{

background-image: url(renzler.gif);

font-family: 'Oswald' , sans-serif;

}
.footer{
  background-color: white;
  padding-bottom:0;
  margin-bottom: 0;
  bottom: 0;
  height: 107px;
  text-align: center;
  transform: translateY(200px);
}
.footer p {
transform: translateY(20px);
color: #5c5c5cb7;
}

spanas{
  color: rgb(163, 6, 6);
}
spanes{
  color: #585454;
}
spanis{
  color: #33a805;
}
 span{
   color:#33a805;
 }


 .navbar-brand{
   font-family:  'Potta One',cursive;;
   color: #c70f0f;
 }
 spana{
      color: #c70f0f;
 }
 .form-group{
   font-family: 'Sofia',
cursive; 
 }.card-body{
   font-family: 'Sofia',
cursive;
 }

@media (max-width: 400px) {

.footer{
transform: translateY(110px);
bottom: 0%;
margin-bottom: 0%;
background-color: white;
}
.footer p{
  background-color: white;
  transform: translateY(40px);
}
.footer span{
  background-color: white;
}
.card{
  margin-top: 3em;
}
}
